body{
    margin:0;
    background-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
img{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 5px solid black;
    transition: all 1s ease-in-out;
}

.stock_top{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title_container{
    width:800px;
    /* background-color:teal; */
}
.subTitle{
    color:skyblue;
    font-size: 100px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    transition: all 1s ease-in-out;
}
.titleSize{
    font-size: 50px;
    transition: all 1s ease-in-out;
}
.todayPrice{
    font-size: 100px;
    color:rgb(0, 0, 0);
    margin:0;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    transition: all 1s ease-in-out;
}
.view{
    display:flex;
}
.title{
    font-family: 'Noto Sans KR';
    margin:10px;
}
.title:hover{
    color: white;
    /* color:rgb(163, 163, 163); */
    transition: all 0.5s ease-in-out;
}
.footer{
    display:flex;
    font-size: 50px;
    font-family: 'Noto Sans KR';
    transition: all 1s ease-in-out;
}
.footer div{
    margin:10px;
}

.animation_logo{
    display:flex;
    flex-direction: column;
    width:100%;
    /* height:500px; */
    /* background-color: grey; */
}
.logo_btc{
    position:relative;
    margin:10px;
    animation: btcLogo 5s infinite alternate;
    animation-timing-function: ease-in-out;
}
.logo_eth{
    position:relative;
    margin:10px;
    animation: ethLogo 7s infinite alternate;
    animation-timing-function: ease-in-out;
}
.logo_flow{
    position:relative;
    margin:10px;
    animation: flowLogo 3s infinite alternate;
    animation-timing-function: ease-in-out;
}
.logo_mana{
    position:relative;
    margin:10px;
    animation: manaLogo 9s infinite alternate;
    animation-timing-function: ease-in-out;
}


/* 0px ~ 1450px까지 보여질 화면 */
@media screen and (max-width: 2030px) {
    body{
        background-color: cadetblue;
    }
    .todayPrice{
        font-size: 50px;
        transition: all 1s ease-in-out;
    }
    .subTitle{
        font-size: 50px;
        transition: all 1s ease-in-out;
        color:rgb(255, 192, 239);
    }
    .titleSize{
        font-size: 25px;
        transition: all 1s ease-in-out;
    }
    img{
        width:25px;
        height:25px;
        border-radius: 50%;
        border: 3px solid black;
        transition: all 1s ease-in-out;
    }
    .footer{
        font-size: 15px;
    }
}


@keyframes btcLogo{
    from{
        left: 10%;
    }
    to{
        left: 90%;
    }
}
@keyframes ethLogo{
    from{
        left: 5%;
    }
    to{
        left: 90%;
    }
}
@keyframes flowLogo{
    from{
        left: 3%;
    }
    to{
        left: 90%;
    }
}
@keyframes manaLogo{
    from{
        left: 2%;
    }
    to{
        left: 90%;
    }
}