body{
    margin:0;
    background-color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}
img{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 5px solid black;
}

.stock_top{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.title_container{
    width:800px;
    /* background-color:teal; */
}
.subTitle{
    color:skyblue;
    font-size: 100px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
}
.titleSize{
    font-size: 50px;
}
.todayPrice{
    font-size: 100px;
    color:rgb(0, 0, 0);
    margin:0;
    font-family: 'Noto Sans KR';
    font-weight: 300;
}
.view{
    display:flex;
}
.title{
    font-family: 'Noto Sans KR';
    margin:10px;
}
.title:hover{
    color:rgb(163, 163, 163);
    transition: all 0.5s ease-in-out;
}


.animation_logo{
    display:flex;
    flex-direction: column;
    width:100%;
    height:500px;
    /* background-color: grey; */
}
.logo_btc{
    position:relative;
    margin:10px;
    animation: btcLogo 5s infinite alternate;
    animation-timing-function: ease-in-out;
}
.logo_eth{
    position:relative;
    margin:10px;
    animation: ethLogo 7s infinite alternate;
    animation-timing-function: ease-in-out;
}
.logo_flow{
    position:relative;
    margin:10px;
    animation: flowLogo 3s infinite alternate;
    animation-timing-function: ease-in-out;
}
.logo_mana{
    position:relative;
    margin:10px;
    animation: manaLogo 9s infinite alternate;
    animation-timing-function: ease-in-out;
}


@keyframes btcLogo{
    from{
        left: 10%;
    }
    to{
        left: 90%;
    }
}
@keyframes ethLogo{
    from{
        left: 5%;
    }
    to{
        left: 90%;
    }
}
@keyframes flowLogo{
    from{
        left: 3%;
    }
    to{
        left: 90%;
    }
}
@keyframes manaLogo{
    from{
        left: 2%;
    }
    to{
        left: 90%;
    }
}