<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Noto+Sans+KR:wght@700&family=Rubik&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="/CSS/stock.css">
    <title>STOCK</title>
</head>
<body>
    <section class="stock_top">
        <section class="stock_container">
            <div class="title_container">
                <h1 class="todayPrice">지금 확인해보세요</h1>
                <div class="subTitle">
                    오늘의 코인시장
                </div>
            </div>
            
            <div class="view">
                <%for(let el of data){%>
                    <div class="titleSize"><a href="/stock/<%= el._id %>"><span class="title"><%= el.title %></span></a></div>
                <%}%>
            </div>
        </section>
        <section class="animation_logo">
            <img class="logo_btc"src="https://bitcoin.org/img/icons/opengraph.png?1644775669" alt="">
            <img class="logo_eth" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYkEeiNT8d5mj1Lo84NanKFZnv8EUAt1Zo1A&usqp=CAU" alt="">
            <img class="logo_flow" src="https://pbs.twimg.com/profile_images/1307035887000342529/OPfvNrms_400x400.jpg" alt="">
            <img  class="logo_mana" src="https://cryptologos.cc/logos/decentraland-mana-logo.png" alt="">
        </section>
    </section>

    <script src="/JS/stock.js"></script>
</body>
</html>